---
title: Installing and Configuring Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_short %>.

## <a id="install"></a> Install <%= vars.product_short %>

To install the <%= vars.product_short %> using <%= vars.ops_manager %> Installation Dashboard:

1. Download the product file from
[<%= vars.product_network %>](https://network.tanzu.vmware.com/products/cloud-service-broker-azure/).

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and click **Import a Product** to
upload the product file.

1. Under **Import a Product**, click **+** next to the version number of <%= vars.product_short %>
in the left sidebar. This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_short %>** tile.


## <a id="config-azure"></a> Configure the <%= vars.product_short %>

The following procedures describe configuring the panes on the <%= vars.product_short %> tile.


### <a id="config-azs"></a> Configure AZs and Networks

This section describes how to choose an AZ to run the service broker for <%= vars.product_short %>.
It also describes how to select networks for <%= vars.product_short %>.

To configure AZs and networks:

1. Click **Assign AZs and Networks**.

1. Configure the fields as follows:

    | Field                   | Instructions                                                                                                                                                                                 |
    |-------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
    | Place singleton jobs in | Select the AZ in which the broker VM for <%= vars.product_short %> runs. The broker runs as a singleton job.                                                                                 |
    | Balance other jobs in   | Select the AZs in which other jobs can run.                                                                                                                                                  |
    | Network                 | Select a subnet for the <%= vars.product_short %> broker. This is typically the same subnet that includes the component VMs for <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>). |

1. Click **Save**.


### <a id="config-creds"></a> Configure Azure Credentials

This section describes how to configure the Azure credentials that <%= vars.product_short %> requires to
manage service instances.

To configure Azure credentials:

1. Click **Azure Config**.

1. Configure the fields as follows:

    | Field                                     | Instructions                                         |
    |-------------------------------------------|------------------------------------------------------|
    | Subscription ID                           | Enter the Azure subscription ID                      |
    | Tenant ID                                 | Enter the Azure tenant ID <sup>*</sup>               |
    | Client ID                                 | Enter the Azure client ID <sup>*</sup>               |
    | Client Secret                             | Enter the Azure client secret <sup>*</sup>           |
    | Default Resource Group                    | Enter the default resource group for Azure resources |
    | Location                                  | Enter the default Azure location for resources       |
    | Deactivate Automatic Service Registration | Select to deactivate automatic service registration  |

    <sup>*</sup> The <code>Tenant ID</code>, <code>Client ID</code> and <code>Client Secret</code> refer to
    the Azure <a href="https://learn.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#service-principal-object">service principal</a>
    credentials. To create these credentials, follow the steps in the
    <a href="https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/guides/service_principal_client_secret">Terraform documentation</a>.

1. Click **Save**.

    <div class="note">
      <strong>Note:</strong> You can use different Azure credentials for each service plan by setting
      <code>azure_tenant_id</code>, <code>azure_subscription_id</code>,
      <code>azure_client_secret</code>, and <code>azure_client_id</code> in one of the following ways:
      <ul>
        <li>In the <%= vars.product_short %> tile, set the credentials when configuring a service plan.
          See <a href="installing-with-azure.html#services">Configure Services with <%= vars.product_short %></a>.</li>
        <li>In the cf CLI, set the credentials as parameters when creating a service. For example:
        <br><code>cf create-service ... -c '{ "azure_subscription_id":"...", ... "'</code></li>
      </ul>
    </div>

### <a id="state-db"></a>Configure a State Database

This section describes how to associate <%= vars.product_short %> with a MySQL database,
the _state database_.
The broker requires this database to store its state.

#### About Encrypting the State Database

In production environments, VMware recommends that you enable encryption.
This encrypts certain sensitive information in the state database, such as IaaS credentials.
The encryption password that you enter on the Service Broker Config pane is used to generate an encryption key.

<p class="note">
<strong>Note:</strong>
Applying changes takes longer than normal when you first enable encryption and when you change the
encryption password.
</p>

#### Prerequisite

You must have a small MySQL database to use as the state database.

<p class="note">
  <strong>Note:</strong> VMware recommends enabling backup and restore capabilities in the MySQL
  database before attempting encryption. This is because if something goes wrong, and your database
  is only partially encrypted, it is safest to revert to the most recent database backup.
</p>

#### Procedure: Configure a State Database

To configure <%= vars.product_short %> with a state database:

1. Click **Service Broker Config**.

    <%= image_tag("images/service-broker-config-pane.png", :alt => "Fields for configuring the service broker.
  See the following steps for detailed descriptions of the configurable fields.", :width => "400") %>

1. Configure the fields as follows:

    | Field                                                      | Instructions                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
    |------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
    | **Database host**                                          | Enter the host name of the prerequisite state database.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
    | **Database username** and **Database password**            | Enter the credentials for the state database. The example shown in the screenshot in the previous step refers to setting the username for a MySQL tile provisioned database. If you are configuring a database provisioned by another service, refer to the documentation for that service for the correct username format. For example, for Azure Database for MySQL the username is in the format `user@server-name`. For more information, see the [Azure DB for MySQL documentation](https://docs.microsoft.com/en-us/azure/mysql/connect-workbench#get-connection-information). |
    | **Database port**                                          | Enter the port number for connection to the state database. Defaults to `3306`.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
    | **Database name**                                          | Enter the name of an existing database to use as the state database.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
    | **TLS Enforcement**                                        | Select the type of TLS enforcement you want. If you select **Custom**, enter your CA certificate, client certificate, and key.                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
    | **Enable encryption of the Cloud Service Broker database** | If you want the sensitive data to be encrypted, select this checkbox and the **Add** button. If you do not want to encrypt the data, leave the checkbox unselected and do not fill in the Database Encryption Passwords fields.                                                                                                                                                                                                                                                                                                                                                      |
    | **Label**                                                  | Enter a unique password label. You cannot change this label after you save.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
    | **Password**                                               | Enter a secure password that is at least 20 characters long. You cannot change this password after you save.                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
    | **Primary**                                                | Select this checkbox if this is the password that you want to use to encrypt the data. You must mark one and only one password as primary.                                                                                                                                                                                                                                                                                                                                                                                                                                           |

1. Click **Save**.

1. If upgrading from a previous tile version, service instances must be upgraded.
   By default, the tile upgrades all instances during installation.
   To configure the upgrade task, see [Upgrade All Service Instances Config](#upgrade-all-config).
   Alternatively, operators can control when service instances are upgraded. For more information, see
   [Upgrading Cloud Service Broker for Azure](upgrading.html).

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply changes** to install the <%= vars.product_short %> tile.

If you later want to change the password on the state database,
see [Rotate the Encryption Password on the State Database](#rotate-password) below.<br>
If you later want to turn off encryption,
see [Remove Encryption from the State Database](#remove-encryption) below.

<%# If needed, include additional configuration information below.
For example, maybe there are configuration options not required for installation but which could be
useful for certain users.
Typical topics include:**

+ **Self-service:** Do you have recommendations for how to configure/design plans in the tile so that
users can choose the best options for themselves?
+ **High availability:** How do you configure/deploy X Service tile to be highly available? %>

### <a id="services"></a> Configure Services with <%= vars.product_short %>

This section describes how to configure services and service plans offered by the
<%= vars.product_short %> within the Cloud Foundry Marketplace on your instance of Cloud Foundry.

<%= vars.product_short %> specifies new service plans through JSON.
An example is provided, using the smallest possible size, within each service.

To configure services and service plans:

1. Click the already-installed <%= vars.product_short %> for Azure tile in your
<%= vars.ops_manager %> tile Dashboard.

1. Find the service you want to make available in the left hand navigation under
the **Settings** tab.

    <img src="images/settings-config-and-plans-pane.png" alt="Azure SQL Config And Plans To Create Databases On Pre-configured Servers (csb-azure-mssql-db)
    pane shows the Existing SQL Server Credentials field and the Additional Azure SQL DB Plans field" width="650">

1. For services using pre-configured database servers, enter **Existing SQL Server Credentials**.
  <ul>
  <li> For the <strong>Azure SQL Config And Plans To Create Databases On Pre-configured Servers</strong> plan,
    enter the credentials in the following format:

    <pre><code>{
      ...
       "SERVER-LABEL":{
          "admin_username": "SERVER-ADMIN-USERNAME",
          "admin_password": "SERVER-ADMIN-PASSWORD",
          "server_resource_group": "SERVER-RESOURCE-GROUP",
          "server_name": "SERVER-NAME"
       }
       ...
    }</code></pre>

    Where:
    <ul>
      <li><code>SERVER-LABEL</code> is a label to refer to the server, which might be the same as the logical server name.</li>
      <li><code>SERVER-ADMIN-USERNAME</code> is the administrative username for the server.</li>
      <li><code>SERVER-ADMIN-PASSWORD</code> is the administrative password for the server.</li>
      <li><code>SERVER-RESOURCE-GROUP</code> is the Azure resource group.</li>
      <li><code>SERVER-NAME</code> is the logical server name.</li>
    </ul>
  </li>
  <li> For the <strong>Azure SQL Failover Group Config And Plans On Pre-configured Server Pairs</strong> plan,
    enter the credentials in the following format:

    <pre><code>{
      ...
       "SERVER-PAIR-LABEL":{
          "admin_username": "SERVER-ADMIN-USERNAME",
          "admin_password": "SERVER-ADMIN-PASSWORD",
          "primary":{
            "resource_group": "PRIMARY-SERVER-RESOURCE-GROUP",
            "server_name": "PRIMARY-SERVER-NAME"
          },
          "secondary":{
            "resource_group": "SECONDARY-SERVER-RESOURCE-GROUP",
            "server_name": "SECONDARY-SERVER-NAME"
          }
       }
       ...
    }</code></pre>

    Where:
    <ul>
      <li><code>SERVER-PAIR-LABEL</code> is a label to refer to the pair of primary and secondary servers.</li>
      <li><code>SERVER-ADMIN-USERNAME</code> is the administrative username for the server.</li>
      <li><code>SERVER-ADMIN-PASSWORD</code> is the administrative password for the server.</li>
      <li><code>PRIMARY-SERVER-RESOURCE-GROUP</code> is the Azure Resource Group in which the primary database server resides.</li>
      <li><code>PRIMARY-SERVER-NAME</code> is the name of the primary server in the failover group.</li>
      <li><code>SECONDARY-SERVER-RESOURCE-GROUP</code> is the Azure Resource Group in which the secondary database server resides.</li>
      <li><code>SECONDARY-SERVER-NAME</code> is the name of the secondary server in the failover group.</li>
    </ul>
  </li>
  </ul>

1. Enter additional plans as additional JSON objects within the provided field.
For details about properties for each service configuration, see
<a href="reference/index.html">Service Plan Reference</a>.

    <p class="note">
      <strong>Note:</strong> When developers create or update a service instance, they cannot override
      any plan-level properties that have been set in this field.
    </p>

1. (Optional) If you want to use different credentials to the ones specified in the **Azure Config** tab,
supply the credentials as properties to a plan instance in the additional plans box:

    ```json
    [
      {
        "name" : "PLAN-NAME",
        "id" : "UID",
        "sku_name" : "SKU-NAME",
        "description" : "PLAN-DESCRIPTION",
        "azure_tenant_id" : "TENANT-ID",
        "azure_subscription_id" : "SUBSCRIPTION-ID",
        "azure_client_secret" : "CLIENT-SECRET",
        "azure_client_id" : "CLIENT-ID",
        ...
      }
    ]
    ```

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard and click **Review Pending Changes**.

1. Click **Apply changes**.

1. Review your Cloud Foundry Marketplace to see the new plan sizes.


## <a id="rotate-password"></a>Rotate the Encryption Password on the State Database

If you have already set an encryption password and want to change it, follow the instructions below:

To rotate the password on the state database:

1. Click **Service Broker Config**.

2. Clear the **Primary** checkbox.

3. Click **Add**.

4. Enter a new **Label** and **Password** for the new password, and select  **Primary**.

    You cannot change the label or password after you save.

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply changes** to install the <%= vars.product_short %> tile.

1. (Recommended) After the apply changes process completes, delete the non-primary label and password pair and apply changes again.

## <a id="remove-encryption"></a> Remove Encryption from the State Database

If the data in the state database was previously encrypted and you want to deactivate encryption, follow the instructions below.

To remove encryption from the state database:

1. Click **Service Broker Config**.

1. Clear the **Enable encryption of the Cloud Service Broker database** checkbox.

1. Clear the **Primary** checkbox, but do not change the Label or Password fields.

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply changes** to install the <%= vars.product_short %> tile.

1. (Recommended) After the apply changes process completes, delete all label and password pairs and apply changes again.

## <a id="upgrade-all-config"></a> Upgrade All Services Instances Config

If upgrading from a previous tile version, service instances must be upgraded.
By default, the tile upgrades all instances during installation.
This section is about the general configuration of upgrades.
See [Upgrading Cloud Service Broker for Azure](upgrading.html) for alternatives and details of the
upgrade.

If **Upgrade all services** is unchecked, service instances are not upgraded during
installation. The broker might be unable to manage these service instances anymore.
In that case, any operations on that instance (update, bind, unbind, or delete) are blocked until the
upgrade is performed. You can run the upgrade task any time.

Deleting custom plans before upgrading all instances might cause some instances to become unmanageable
by the broker.
Delete plans at a later step or see [Release Notes for Cloud Service Broker for Azure](release-notes.html)
and [Upgrading Cloud Service Broker for Azure](upgrading.html) to ensure there are no conflicting
upgrades.

Instances that the broker has subsumed must be changed to a suitable plan, other than the `subsume`
plan, before performing any upgrades.
Failure to do so causes the broker to become unable to manage those instances anymore.

To perform the upgrade task:

1. Go to the **Upgrade All Service Instances Config** tab.

 <%= image_tag("images/upgrade-all-services-config-pane.png", :alt => "Fields for configuring Upgrade All Service Instances task. See the following steps for detailed descriptions of the configurable fields.", :width => "400") %>

1. Configure the fields as follows:

    | Field                                         | Instructions                                                                                 |
    |-----------------------------------------------|----------------------------------------------------------------------------------------------|
    | **Upgrade all services**                      | Checked by default. Indicates if service instances are upgraded during product installation. |
    | **The number of upgrades to run in parallel** | Indicates the number of instances that can be in the `upgrading` status at any given time.   |

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply changes** to install the <%= vars.product_short %> tile.
