---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_short %>.

## <a id="1-1-8"></a> v1.1.8

**Release Date:** January 28, 2021

### Resolved Issues

This release has the following fix:

* **App binding credentials now work after performing a failover of Azure SQL DB:**
When creating a csb-azure-mssql-db-failover-group instance and binding to an app,
the login was created in the primary database, and so did not get replicated to the
secondary database.
For more information, see
[Issue #4](https://github.com/cloudfoundry-incubator/csb-brokerpak-azure/issues/4) in GitHub.

### Known Issues

This release has the following issues:

* **Installation on <%= vars.app_runtime_full %> v2.11 fails:**
Installation fails because the `csb-azure-mssql-failover-group/small` plan
and the `csb-azure-mssql/small` plan have the same ID.
For more information, see
[Pull Request #34](https://github.com/cloudfoundry-incubator/csb-brokerpak-azure/pull/34) in GitHub.
* **Only properties specified during service instance creation are persisted during an update:**
this means that if a property is set when a service instace is created then the value
is stored and does not need to be specified again when a service instance is updated.
However if a property is set or changed when a service instance is updated (for instance
via `cf update-service`) then the same property and value must be specified when the
service instance is next updated, otherwise it will revert to the value that it had
when the service instance was first created.
For more information, see
[Bug #178213626](https://www.pivotaltracker.com/story/show/178213626) in Pivotal Tracker.


## <a id="1-1-7"></a> v1.1.7

**Release Date:** January 4, 2021

### Resolved Issues

This release has the following fix:

* **Changing the SQL admin password no longer breaks bind and unbind operations:**
Changing the SQL admin password no longer causes bind and unbind operations to fail for existing
instances.<br><br>
However, you might need to subsume instances that are still failing to bind and unbind.
For how to subsume an instance, see
[Subsuming a Microsoft Azure Service Broker MSSQL Database Instance](azure-mssql-subsume.html)
or [Subsuming a Microsoft Azure Service Broker MSSQL Failover Group Instance](azure-mssql-fog-subsume.html).<br><br>
For additional information about the issue, see
[Issue #158](https://github.com/cloudfoundry-incubator/cloud-service-broker/issues/158) in GitHub.

### Known Issues

This release has the following issue:

* **Installation on <%= vars.app_runtime_full %> v2.11 fails:**
Installation fails because the `csb-azure-mssql-failover-group/small` plan
and the `csb-azure-mssql/small` plan have the same ID.
For more information, see
[Pull Request #34](https://github.com/cloudfoundry-incubator/csb-brokerpak-azure/pull/34) in GitHub.


## <a id="1-1-6"></a> v1.1.6

**Release Date:** December 16, 2020

### New Features

New features and changes in this release:

* **Azure Virtual Network (VNet) integration:** VNet is integrated for Azure Redis Cache premium plans.

### Resolved Issues

This release has the following fixes:

* **Admin username and password for a AzureSQL Failover Group database no longer exposed:**
`create service-key` and `bind-service` on the non-primary site of a AzureSQL
Failover Group database no longer exposes the admin username and password.

* **Credentials are no longer output in plain text in application console logs.**

* **Execute permissions no longer denied:** Execute permissions previously denied on
stored procedures after Azure SQL subsume are now permissible.

### Known Issues

This release has the following issues:

* **Changing the SQL admin password breaks bind and unbind operations:** After changing the SQL admin
password and re-deploying the broker, bind and unbind operations for existing database instances fail.
For more information, see
[Issue #158](https://github.com/cloudfoundry-incubator/cloud-service-broker/issues/158) in GitHub.

* **Installation on <%= vars.app_runtime_full %> v2.11 fails:**
Installation fails because the `csb-azure-mssql-failover-group/small` plan
and the `csb-azure-mssql/small` plan have the same ID.
For more information, see
[Pull Request #34](https://github.com/cloudfoundry-incubator/csb-brokerpak-azure/pull/34) in GitHub.


## <a id="1-1-1"></a> v1.1.1

**Release Date:** November 20, 2020

<p class="note breaking">
  <strong>Breaking Change:</strong> Subsume is no longer provided as a separate service in
  Cloud Foundry Marketplace. It is now a plan that is currently only available for the MSSQL Database
  service.
</p>

### Features

New features and changes in this release:

* **Support for Azure MySQL Threat Detection Policy:**
For more information about Advanced Threat Protection for Azure Database for MySQL, see the
[Microsoft documentation](https://docs.microsoft.com/en-us/azure/mysql/howto-database-threat-protection-portal).
* **Added subsume functionality for Azure MySQL failover group (FoG) instances:**
For information about subsuming Azure MySQL FoG instances, see
[Subsuming a Microsoft Azure Service Broker MSSQL Database Fail Over Group Instance](https://github.com/pivotal/cloud-service-broker/blob/master/docs/subsume-masb-mssql-db-fog.md)
in GitHub.

### Resolved Issues

This release has the following fixes:

* **Data loss when updating services:** Any parameters provided to `cf create-service` are now
preserved and used as defaults during `cf update-service`.

### Known Issue

This release has the following issues:

* **Changing the SQL admin password breaks bind and unbind operations:** After changing the SQL admin
password and re-deploying the broker, bind and unbind operations for existing database instances fail.
For more information, see
[Issue #158](https://github.com/cloudfoundry-incubator/cloud-service-broker/issues/158) in GitHub.

* **Installation on <%= vars.app_runtime_full %> v2.11 fails:**
Installation fails because the `csb-azure-mssql-failover-group/small` plan
and the `csb-azure-mssql/small` plan have the same ID.
For more information, see
[Pull Request #34](https://github.com/cloudfoundry-incubator/csb-brokerpak-azure/pull/34) in GitHub.


## <a id="1-1-0"></a> v1.1.0

**Release Date:** November 5, 2020

<p class="note breaking">
  <strong>Breaking Change:</strong> Subsume is no longer provided as a separate service in Cloud
  Foundry Marketplace. It is now a plan that is currently only available for the MSSQL Database
  service.
</p>

### Features

New features and changes in this release:

* **Provides a cleaner pattern for subsuming existing MSSQL database instances from the Microsoft Azure Service Broker:**
For more information, see [Subsuming a Microsoft Azure Service Broker MSSQL Database Instance](./azure-mssql-subsume.html).
* **Adds support for Azure SQL Short Term Retention Period:**
For more information about the original issue, see
[Issue #100 - Control backup retention period for Azure SQL DB](https://github.com/pivotal/cloud-service-broker/issues/100) in GitHub.
* **Error messaging:** Adds clearer error messaging to the subsume functionality.

### Resolved Issues

This release has the following fixes:

* **Azure Storage can now be configured in the tile:**
Previously, there was an issue where Azure Storage configuration was not shown in the tile.
* **Labeling:** Fixed incorrect labeling in Azure Redis config.

### Known Issues

This release has the following issues:

* **Data loss when updating services:**
Any parameters provided in the `cf create-service` command must also be provided
in the `cf update-service` command.
Otherwise, the broker substitutes default values for those parameters.<br>
For example, if you provided the parameter `db_name` when the service was created,
omitting this parameter from the update service command resulted in data loss.

* **Changing the SQL admin password breaks bind and unbind operations:** After changing the SQL admin
password and re-deploying the broker, bind and unbind operations for existing database instances fail.
For more information, see
[Issue #158](https://github.com/cloudfoundry-incubator/cloud-service-broker/issues/158) in GitHub.

* **Installation on <%= vars.app_runtime_full %> v2.11 fails:**
Installation fails because the `csb-azure-mssql-failover-group/small` plan
and the `csb-azure-mssql/small` plan have the same ID.
For more information, see
[Pull Request #34](https://github.com/cloudfoundry-incubator/csb-brokerpak-azure/pull/34) in GitHub.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
