---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-2-1"></a> v1.2.1

**Release Date:** November 11, 2021

### Resolved Issues

This release has the following fixes:

* **Terraform workspaces larger then 64&nbsp;K no longer fail to save:** The database migration succeeds for all terraform workspaces.
Also, new terraform deployment workspaces larger then 64&nbsp;K can be stored.

* **For `azure-mssql-db` and `csb-azure-mssql-db-failover`, you can no longer pass
pre-provisioned server credentials during provisioning:**
Passing the credentials during provisioning caused binding to fail.

* **For `csb-azure-mssql-failover-group`, you can create serverless databases:**
You can now create databases in the serverless tier by defining a `sku_name` from the `GP_S` tier.

* **Revised `mini` plan examples are provided in the tile:**
For new <%= vars.product_short %> tile installations all `mini` plans are now correct.
For existing tile installations, you need to make the following changes to existing plans:
  - For `csb-azure-redis/mini`, add the properties `tls_min_version` and `firewall_rules`.
  - For `csb-azure-mysql/mini`, add the properties `tls_min_version`, `firewall_rules`, `authorized_networks`.
  - For `csb-azure-mssql-failover-group/mini-manual-v2`, replace `storage_gb` property name with `max_storage_gb`.

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + '/csb-azure/cf-update-ki' %>


## <a id="1-2-0"></a> v1.2.0

**Release Date:** October 14, 2021

### Features

New features and changes in this release:

* **Support for encryption of sensitive data:** <%= vars.product_short %> can now encrypt sensitive
data that is provided or generated during provisioning and binding and stored in the state database.
A key generated from the password you configure in the tile is used for the encryption.
For how to configure encryption, see <a href="installing-with-azure.html#state-db">Configure a State Database</a>.

* **Support for Private Endpoints in MongoDB:** <%= vars.product_short %> now supports creating Private Endpoints
during the provisioning of MongoDB instances.
For more information, see [pull request #103](https://github.com/cloudfoundry-incubator/csb-brokerpak-azure/pull/103) in GitHub.

* **For `azurerm_mssql_database`, databases smaller then 1&nbsp;GB can be subsumed:**
Subsume is now supported for MSSQL databases less then 1&nbsp;GB.

### Resolved Issues

This release has the following fixes:

* **Use restricted user to connect to CredHub:** The broker uses `cf.uaa.services_credhub_credentials`
instead of `cf.uaa.credhub_admin_client_client_credentials` to communicate with CredHub.
The new credentials have restricted access.

* **Update optional mini plans:** `mini` plans for `csb-azure-eventhubs`, `csb-azure-mssql`
and `csb-azure-mssql-db-failover-group` were reusing identifiers and were not compatible
with  <%= vars.app_runtime_full %> v2.11.
They have been renamed to `mini-v2` and their IDs have been updated to be unique.
If you were using any of these plans in the mentioned service offerings, update all instances to use `mini-v2`.

* **For `csb-azure-mssql-failover-group`, users are propagated to the secondary database:**
You no longer need to rebind apps after a failover event.


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + '/csb-azure/cf-update-ki' %>

* **Database failure for terraform workspaces larger than 64&nbsp;K:**
The database migration fails if you migrate to this version
and there is a stored terraform deployment workspace that is larger than 64&nbsp;K in the database.
Also, when new terraform deployment workspaces larger than 64&nbsp;K are stored, they are truncated.

* For `azure-mssql-db` and `csb-azure-mssql-db-failover`, passing pre-provisioned
server credentials during provisioning causes binding to fail.

* For `csb-azure-mssql-failover-group`, you cannot create serverless databases.

* For `csb-azure-redis`, `csb-azure-mysql`, and `csb-azure-mssql-failover-group`,
`mini` plans have incorrect parameters.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
