---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-4-0"></a> v1.4.0

**Release Date:** December 8, 2022

### Features

New features and changes in this release:

#### Azure Redis service

* **Redis version:** You can now define the Redis version using the `redis_version`
property as part of a plan definition or during create or update operations.
To update Redis instances to v6, see [Upgrading <%= vars.product_full %>](upgrading.html#redis).

* **Brokerpak-provided plans are deprecated:** All brokerpak-provided plans for Redis are now deprecated.
VMware recommends that you create your custom plans in the tile.
All deprecated plans set the Redis version to v4 to keep backwards compatibility.
These plans will be removed from the brokerpak in future releases in favor of custom-defined plans in the tile.
To update Redis instances to other plans, see [Upgrading <%= vars.product_full %>](upgrading.html#redis).

#### Azure Cosmos DB service

* **Cosmos DB SQL can now create private endpoints:** You can now define private endpoints for Cosmos DB SQL using the `private_endpoint_subnet_id`
and 'private_dns_zone_ids' properties as part of a plan definition or during create or update operations.

### Resolved Issues

This release has the following fixes:

<%= partial '/csb/logo-resolved' %>

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
