---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>
(<%= vars.product_short %>).

##<a id="1-7-0"></a> v1.7.0

**Release Date:** DD MMM YYYY

### Breaking Changes

This release has the following breaking changes:

- **Run-in header:** Description.
- **Run-in header:** Description.

### Features

New features and changes in this release:

#### General

- Terraform upgraded to v1.5.7:

 The Terraform version used to apply changes is upgraded to v1.5.7. You must upgrade
all service instances. When you upgrade, ensure that you follow the [Upgrade procedure](upgrading.html.md.erb#procedure).


### Resolved Issues

This release has the following fixes:

- **Prevent performance degradation of database consistency checks at startup**

  Previously the <%= vars.product_short %> kept information in the database
  about instances and bindings that had already been destroyed. In the long
  term, this caused Cloud Service Broker's database space usage to grow with no
  real benefit. In some rare scenarios, this made Cloud Service Broker start up
  slower and caused the platform to timeout. The <%= vars.product_short %> now
  physically deletes information from destroyed assets, preventing this
  situation from happening.

### Known Issues

This release has the following issues:

- **Run-in header:** Description.
- **Run-in header:** Description.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
