---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>
(<%= vars.product_short %>).

##<a id="1-6-0"></a> v1.6.0

**Release Date:** 20 October 2023

### Breaking changes

This release has the following breaking changes:

- **The <%= vars.product_full%> tile now requires Jammy Stemcell:**

  The tile now depends on Jammy Stemcells instead of Xenial. You must have a Jammy Stemcell
  available in Tanzu Operations Manager, and Tanzu Operations Manager must be at version v2.10.33 or
  later.

- **The <%= vars.product_full%> tile stops the installation if there are any outdated instances:**

  From now on, ensure that service instances are up to date before upgrading the tile. Out-of-date
  service instances cause the installation to stop. Your instances use the latest released features
  that include the latest security patches.

### Resolved issues

This release has the following fixes:

#### Azure SQL (MSSQL) and Azure SQL (MSSQL) Database

- **Fixed failure in unbinding operation `The database principal owns a schema in the database` error:**

  From now on, <%= vars.product_short %> re-assigns data ownership to the `binding_user_group` role
  when a service key or a binding is deleted.

- **Fixed incorrect buildpack stack association when the stack cflinuxfs4 is not available:**

  If your deployment does not have the `cflinuxfs4` stack available, but has the `cflinuxfs3` stack
  available, the tile now deploys the application by selecting the `cflinuxfs3` stack and creates 
  the correct association.

### Known issues

There are no known issues in this release.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
