---
title: Azure Event Hub Reference
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic gives you reference information about the Azure Event Hub service (csb-azure-eventhubs).
It details the plans, configuration parameters, and binding credentials.

## <a id="plans"></a> Plans

The following table lists the plans available for Azure Event Hub:

| Plan | Description |
|------|-------------|
| basic | Basic Tier, 1 Consumer group, 100 Brokered connections |
| standard | Standard Tier, 20 Consumer groups, 1000 Brokered connections, Additional Storage, Publisher Policies |

## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see <a href="../installing-with-azure.html#services">Configure Services with Cloud Service Broker for Azure</a>.

<p class="note">
  <span class="note__title">Note</span>
    To effectively leverage the capabilities of the <%= vars.product_full %>, VMware advises creating and managing
    custom plans. These plans are configurable through the tile, providing a user-friendly method to
    define and adjust service characteristics.
    For more information about custom plans, see <a href="../custom-plans.html.md.erb">Custom Plans</a>.
</p>

The following table lists parameters which can only be configured for additional plans:

| Parameter Name         | Values                                                   | Default | Required |
|------------------------|----------------------------------------------------------|---------|----------|
| `name`                 | The plan name                                            | _n/a_   | Yes      |
| `id`                   | A unique GUID                                            | _n/a_   | Yes      |
| `description`          | Description of the new plan                              | _n/a_   | Yes      |
| `metadata.displayName` | Name to use when displaying the plan in the Marketplace. | _n/a_   | No       |
| `metadata.bullets`     | List of bullet points to display in Apps Manager.        | _n/a_   | No       |

You can also add any of the configuration parameters listed in the [parameters](#parameters) section to your plan.

<p class="note">
  <span class="note__title">Note</span> If you set a parameter at plan level, developers cannot
  change the value when creating or updating service instances.
</p>

## <a id="parameters"></a> Configuration Parameters

You can provision a service by running:

```bash
cf create-service csb-azure-eventhubs PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

You can update the configuration parameters for a service instance by running:

```bash
cf update-service SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The following table lists the parameters that you can configure, using the `-c` flag, when
provisioning a csb-azure-eventhubs service:

<table>
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tr>
    <td><code>instance_name</code></td>
    <td>string</td>
    <td>
      The name of your Event Hub instance. This parameter has the following constraints:
      <ul>
        <li>Maximum character length: 98</li>
        <li>Minimum character length: 6</li>
        <li>Allowed characters: lowercase letters and numbers</li>
      </ul>
    </td>
    <td><code>csb-eventhubs-INSTANCE-ID</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>resource_group</code></td>
    <td>string</td>
    <td>
      The name of the resource group for the instance. After being set, this cannot be updated. <br>
      This parameter has the following constraints:
      <ul>
        <li>Maximum character length: 64</li>
        <li>Minimum character length: 0</li>
        <li>Allowed characters: lowercase letters and numbers</li>
      </ul>
    </td>
    <td><code>rg-INSTANCE-NAME</code></td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>location</code></td>
    <td>string</td>
    <td>The location of the Event Hub instance. After being set, this cannot be updated. <br>
      For available locations, see the
      <a href="https://azure.microsoft.com/en-gb/global-infrastructure/data-residency/#select-geography">Microsoft documentation</a>.
    </td>
    <td><code>westus</code></td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>azure_tenant_id</code></td>
    <td>string</td>
    <td>The ID of the Azure tenant for the instance.</td>
    <td>The value the operator entered for <strong>Tenant ID</strong> in <%= vars.ops_manager %></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_subscription_id</code></td>
    <td>string</td>
    <td>The ID of the Azure subscription for the instance.</td>
    <td>The value the operator entered for <strong>Subscription ID</strong> in <%= vars.ops_manager %></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_client_id</code></td>
    <td>string</td>
    <td>The ID of the Azure service principal to authenticate for service instance creation.</td>
    <td>The value the operator entered for <strong>Client ID</strong> in <%= vars.ops_manager %></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_client_secret</code></td>
    <td>string</td>
    <td>The secret (password) for the Azure service principal to authenticate for service instance creation.</td>
    <td>The value the operator entered for <strong>Client Secret</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>skip_provider_registration</code></td>
    <td>boolean</td>
    <td>
      Set to <code>true</code> to skip automatic Azure provider registration.
      Set if the service principal being used does not have the rights to register providers.
    </td>
    <td><code>false</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>sku</code></td>
    <td>string</td>
    <td>Defines which tier to use. Options are <code>Basic</code> or <code>Standard</code>.</td>
    <td><code>Basic</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>auto_inflate_enabled</code></td>
    <td>boolean</td>
    <td>Auto Inflate enabled for the EventHub Namespace. Options are <code>true</code> or <code>false</code>.</td>
    <td><code>false</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>partition_count</code></td>
    <td>integer</td>
    <td>
      Specifies the current number of shards on the Event Hub.
      Changing this forces a new resource to be created.
    </td>
    <td><code>2</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>message_retention</code></td>
    <td>integer</td>
    <td>
      Specifies the number of days to retain the events for this Event Hub.
      Must be between <code>1</code> and <code>7</code> days; or <code>1</code> day when using a Basic SKU for the parent Event Hub.
    </td>
    <td><code>1</code></td>
    <td>provision and update</td>
  </tr>
</table>

## <a id="binding-creds"></a> Binding Credentials

The format for binding credentials for Azure Event Hub is as follows:

```json
{
    "eventhub_rg_name" : "RESOURCE-GROUP",
    "namespace_name" : "EVENT-HUB-NAMESPACE",
    "eventhub_name" : "EVENT-HUB-NAME",
    "event_hub_connection_string": "Endpoint=sb://",
    "event_hub_name": "EVENT-HUB-NAME",
    "namespace_connection_string": "Endpoint=sb://EVENT-HUB-NAMESPACE",
    "shared_access_key_name": "",
    "shared_access_key_value": ""
}
```

Where:

- `RESOURCE-GROUP` is the resource group containing the Event Hub namespace.
- `EVENT-HUB-NAMESPACE` is the name of the Event Hub namespace.
- `EVENT-HUB-NAME` is the name of the Event Hub.
