---
title: Azure SQL (MSSQL) Database Reference
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic provides reference information about the Azure SQL (MSSQL) Database service (csb-azure-mssql-db).
It details the plans, configuration parameters, and binding credentials.

The csb-azure-mssql-db service manages Azure SQL databases on pre-configured
database servers on Azure SQL.
For more information about Azure SQL, see the
[Microsoft documentation](https://docs.microsoft.com/en-gb/azure/azure-sql/).

## <a id="configuring"></a> Configuring the Service

To configure the service, provide the pre-configured database servers in the following format when configuring <%= vars.product_short %>:

```json
{
   "SERVER1":{
      "server_name": "SERVER1-FQDN",
      "server_resource_group": "SERVER1-RESOURCE-GROUP",
      "admin_username": "SERVER1-ADMIN-USERNAME",
      "admin_password": "SERVER1-ADMIN-PASSWORD"
   },
   "SERVER2":{
      "server_name": "SERVER2-FQDN",
      "server_resource_group": "SERVER2-RESOURCE-GROUP",
      "admin_username": "SERVER2-ADMIN-USERNAME",
      "admin_password": "SERVER2-ADMIN-PASSWORD"
   }
}
```

For more information about configuring services, see
<a href="../installing-with-azure.html#services">Configure Services with Cloud Service Broker for Azure</a>.

## <a id="plans"></a> Plans

The table below lists the plans available for the csb-azure-mssql-db service:

| Plan       | CPUs | Maximum Storage Size |
|------------|------|--------------|
|mini        | 2    | 5&nbsp;GB    |
|small       | 2    | 5&nbsp;GB    |
|medium      | 8    | 200&nbsp;GB  |
|large       | 32   | 500&nbsp;GB  |
|extra-large | 80   | 1&nbsp;TB    |
|subsume*    | _n/a_| _n/a_        |

<sup>*</sup> The subsume plan is used to import existing Azure MSSQL databases to bring them under
the control of <%= vars.product_short %>. For more information, see
[Subsuming a Microsoft Azure Service Broker MSSQL Database Instance](../azure-mssql-subsume.html).

## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see <a href="../installing-with-azure.html#services">Configure Services with Cloud Service Broker for Azure</a>.

The following table lists parameters which can only be configured for additional plans:

| Parameter Name         | Values                                                   | Default | Required |
|------------------------|----------------------------------------------------------|---------|----------|
| `name`                 | The plan name                                            | _n/a_   | Yes      |
| `id`                   | A unique GUID                                            | _n/a_   | Yes      |
| `description`          | Description of the new plan                              | _n/a_   | Yes      |
| `metadata.displayName` | Name to use when displaying the plan in the Marketplace. | _n/a_   | No       |
| `metadata.bullets`     | List of bullet points to display in Apps Manager.        | _n/a_   | No       |

You can also add any of the configuration parameters listed in the [parameters](#parameters) section
to your plan.
To create plans with specific size limits we recommend setting `sku_name` or `cores` and
`max_storage_gb` properties.

<p class="note">
  <strong>Note:</strong> If you set a parameter at plan level, developers cannot
  change the value when creating or updating service instances.
</p>

## <a id="parameters"></a> Configuration Parameters

You can provision a service by running:

```bash
cf create-service csb-azure-mssql-db PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

For example:

<pre class="terminal">
$ cf create-service csb-azure-mssql-db small mssql-dev -c '{"server":"server1"}'
</pre>

You can update the plan or configuration parameters for a service instance by running:

```bash
cf update-service SERVICE-INSTANCE-NAME [-p NEW-PLAN] -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The table below lists the parameters that you can configure, using the `-c` flag, when
provisioning or updating a csb-azure-mssql-db service:

<table>
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tr>
    <td><code>db_name</code></td>
    <td>string</td>
    <td>The name of the database.</td>
    <td><code>csb-db-INSTANCE-ID</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>server</code></td>
    <td>string</td>
    <td>
      (Required) The name of the server on which to create the database.
      This must match one of the <code>SERVER</code> parameters in one of the servers configured when configuring the service.
    </td>
    <td><em>n/a</em></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_tenant_id</code></td>
    <td>string</td>
    <td>The ID of the Azure tenant for the service instance.</td>
    <td>The value the operator entered for <strong>Tenant ID</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_subscription_id</code></td>
    <td>string</td>
    <td>The ID of the Azure subscription for the service instance.</td>
    <td>The value the operator entered for <strong>Subscription ID</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_client_id</code></td>
    <td>string</td>
    <td>The ID of the Azure service principal to authenticate for service instance creation. <%# Clarification needed %></td>
    <td>The value the operator entered for <strong>Client ID</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_client_secret</code></td>
    <td>string</td>
    <td>The secret (password) for the Azure service principal to authenticate for service instance creation.</td>
    <td>The value the operator entered for <strong>Client Secret</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>cores</code></td>
    <td>number</td>
    <td>Number vCores for the instance (up to the maximum allowed for the service tier). 1&ndash;80, multiples of 2 </td>
    <td> 2 </td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>max_storage_gb</code></td>
    <td>number</td>
    <td>Maximum storage allocated to the database instance in GB.</td>
    <td> 5 </td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>sku_name</code></td>
    <td>string</td>
    <td>
      The Azure stock-keeping unit (SKU).
      For more information about configuring this parameter, see the <a href="#skus">SKUs</a> section.
    </td>
    <td><em>n/a</em></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>skip_provider_registration</code></td>
    <td>boolean</td>
    <td>Set to <code>true</code> to skip automatic Azure provider registration.
    Set if the service principal being used does not have the rights to register providers.</td>
    <td><code>false</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>short_term_retention_days</code></td>
    <td>number</td>
    <td>Retention period in days for short-term retention (Point in Time Restore) policy.
    The maximum period is 35 days.</td>
    <td><code>7</code></td>
    <td>provision and update</td>
  </tr>
</table>

### <a id="skus"></a> SKUs

SKUs are usually formatted as `TIER_FAMILY_NUMBER-OF-CORES`. Where:

*   Examples of `TIER` are `GP_S`, `GP`, and `HS`
*   Examples of `FAMILY` are `Gen4` and `Gen5`

Example SKUs are `GP_S_Gen4_1` and `GP_Gen5_8`.

If you do not define a SKU using the `sku_name` parameter, the SKU is computed
from the number of cores in your plan. See [Plans](#plans) above.

The table below shows the mapping of the number of cores to the corresponding Azure SKU:

| Cores | SKU |
|-------|-----|
| 1  | GP\_Gen5\_1 |
| 2  | GP\_Gen5\_2 |
| 4  | GP\_Gen5\_4 |
| 8  | GP\_Gen5\_8  |
| 16 | GP\_Gen5\_16 |
| 32 | GP\_Gen5\_32 |
| 80 | GP\_Gen5\_80 |

For a list of all valid SKUs, run:

```
az sql db list-editions -l LOCATION -o table
```

For information about the vCore purchasing model, see
<a href="https://docs.microsoft.com/en-us/azure/azure-sql/database/resource-limits-vcore-single-databases">this Microsoft documentation</a>.<br>
For information about the DTU purchasing model, see
<a href="https://docs.microsoft.com/en-us/azure/azure-sql/database/resource-limits-dtu-single-databases">this Microsoft documentation</a>.

<p class="note">
  <strong>Note:</strong> Azure SQL service instances use the vCore model and the Gen5
  hardware generation unless you override this default using the <code>sku_name</code> parameter.
  For more information about the vCore model, see the
  <a href="https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-vcore?tabs=azure-portal">Microsoft documentation</a>.
</p>

<p class="note">
  <strong>Note:</strong> When updating a service instance, the SKU for the updated
  service instance must remain in the same tier (<code>GP_S</code>, <code>GP</code>, or <code>HS</code>).
  If you update to a different tier, Azure refuses the update request.
</p>

## <a id="binding-creds"></a> Binding Credentials

The format for binding credentials for an Azure SQL database is as follows:

```json
{
    "name" : "DATABASE-NAME",
    "hostname" : "DATABASE-SERVER-HOST",
    "port" : "DATABASE-SERVER-PORT",
    "username" : "AUTHENTICATION-USERNAME",
    "password" : "AUTHENTICATION-PASSWORD",
    "server" : "SERVER-NAME",
    "uri" : "DATABASE-CONNECTION-URI",
    "jdbcUrl" : "JDBC-FORMAT-CONNECTION-URI",
    "jdbcUrlForAuditingEnabled" : "JDBC-FORMAT-CONNECTION-URI",
    "sqldbName" : "DATABASE-NAME",
    "sqlServerName" : "SERVER-NAME",
    "sqlServerFullyQualifiedDomainName" : "SERVER-FQDN",
    "databaseLogin" : "AUTHENTICATION-USERNAME",
    "databaseLoginPassword" : "AUTHENTICATION-PASSWORD"
}
```
