---
title: Azure MySQL Reference
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic gives you reference information about the Azure MySQL single server service (csb-azure-mysql).
It details the plans, configuration parameters, and binding credentials.

For more information about Azure MySQL, see the [Microsoft documentation](https://learn.microsoft.com/en-gb/azure/mysql/single-server/single-server-overview).

<p class="note important">
  <span class="note__title">Important</span> Azure Database for MySQL - Single Server is on the retirement path and is scheduled for retirement by September 16, 2024.
  VMware strongly recommends not creating any new instances with this service.
  For more information about the retirement, see the [Microsoft documentation](https://learn.microsoft.com/en-gb/azure/mysql/single-server/whats-happening-to-mysql-single-server).
</p>

## <a id="plans"></a> Plans

The following table lists the default plans for the csb-azure-mysql service:

| Plan   | CPUs | Storage Size |
|--------|------|--------------|
| small  | 2    | 5&nbsp;GB    |
| medium | 4    | 10&nbsp;GB   |
| large  | 8    | 20&nbsp;GB   |

## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see <a href="../installing-with-azure.html#services">Configure Services with Cloud Service Broker for Azure</a>.

The following table lists parameters which can only be added at the plan level.

| Parameter Name                   | Values                                                                                                                     | Default  | Required |
|----------------------------------|----------------------------------------------------------------------------------------------------------------------------|----------|----------|
| `name`                           | The plan name.                                                                                                             | _n/a_    | Yes      |
| `id`                             | A unique GUID.                                                                                                             | _n/a_    | Yes      |
| `description`                    | Description of the new plan.                                                                                               | _n/a_    | Yes      |
| `use_tls`                        | Use TLS for connection.                                                                                                    | `true`   | No       |
| `tls_min_version`                | Minimum enforced TLS version.  Possible values are `TLSEnforcementDisabled`, `TLS1_0`, `TLS1_1`, and `TLS1_2`.             | `TLS1_1` | No       |
| `enable_threat_detection_policy` | Set to `true` to enable the threat Detection Policy.                                                                       | `false`  | No       |
| `threat_detection_policy_emails` | A list of email addresses which alerts should be sent to. For example, `["account1@example.com", "account2@example.com"]`. | _n/a_    | No       |
| `email_account_admins`           | Account administrators emailed when threat alert triggered                                                                 | `false`  | No       |
| `firewall_rules`                 | Array of firewall rule start/end IP pairs.                                                                                 | `[]`     | No       |
| `private_endpoint_subnet_id`     | The ID of the Subnet within which the Private Endpoint is created.                                                         | `""`     | No       |
| `private_dns_zone_ids`           | An array of Private DNS Zone IDs to create private DNS zone groups for when using Private Endpoints.                       | `[]`     | No       |
| `metadata.displayName`           | Name to use when displaying the plan in the Marketplace.                                                                   | _n/a_    | No       |
| `metadata.bullets`               | List of bullet points to display in Apps Manager.                                                                          | _n/a_    | No       |

You can also add any of the configuration parameters listed in the [parameters](#parameters) section to your plan.

<p class="note">
  <span class="note__title">Note</span> If you set a parameter at plan level, developers cannot
  change the value when creating or updating service instances.
</p>

## <a id="parameters"></a> Configuration Parameters

You can provision a service by running:

```bash
cf create-service csb-azure-mysql PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

For example:

<pre class="terminal">
$ cf create-service csb-azure-mysql small mysql-dev -c '{"instance_name": "mysql-dev"}'
</pre>

You can update the plan or configuration parameters for a service instance by running:

```bash
cf update-service SERVICE-INSTANCE-NAME [-p NEW-PLAN] -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The following table lists the parameters that you can configure, using the `-c` flag, when
provisioning or updating a csb-azure-mysql service:

<table>
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tr>
    <td><code>cores</code></td>
    <td>integer</td>
    <td>
      Number vcores for the instance (upto the maximum allowed for the service tier).
      This parameter has the following constraints:
      <ul>
        <li>Maximum: 64</li>
        <li>Minimum: 1</li>
        <li>Multiples of: 2</li>
      </ul>
    </td>
    <td><code>2</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>storage_gb</code></td>
    <td>integer</td>
    <td>
      Storage allocated to the database instance in gigabytes.
      This parameter has the following constraints:
      <ul>
        <li>Maximum: 16384</li>
        <li>Minimum: 5</li>
      </ul>
    </td>
    <td><code>5</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>mysql_version</code></td>
    <td>string</td>
    <td>
      The version for the MySQL instance. After being set, this cannot be updated. <br>
      The available versions are: <code>"5.6"</code>, <code>"5.7"</code>, and <code>"8.0"</code>.
    </td>
    <td><code>5.7</code></td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>instance_name</code></td>
    <td>string</td>
    <td>
      Name for your MySQL instance. This parameter has the following constraints:
      <ul>
        <li>Maximum character length: 98</li>
        <li>Minimum character length: 6</li>
        <li>Allowed characters: lowercase letters and numbers.</li>
      </ul>
    </td>
    <td><code>csb-mysql-INSTANCE-ID</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>resource_group</code></td>
    <td>string</td>
    <td>
      The name of the resource group for this instance. After being set, this cannot be updated. <br>
      This parameter has the following constraints:
      <ul>
        <li>Maximum character length: 64</li>
        <li>Minimum character length: 0</li>
        <li>Allowed characters: lowercase letters and numbers.</li>
      </ul>
    </td>
    <td><code>rg-INSTANCE-NAME</code></td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>db_name</code></td>
    <td>string</td>
    <td>The name for your database. This parameter has the following constraint: maxLength: 64.</td>
    <td><code>csb-db</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>authorized_network</code></td>
    <td>string</td>
    <td>The subnet ID of the Azure Virtual Network (VNet) that is attached to this instance.</td>
    <td><code>default</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>authorized_networks</code></td>
    <td>array</td>
    <td>The subnet IDs of the Azure Virtual Network (VNet) that is attached to this instance.</td>
    <td><code>[]</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>location</code></td>
    <td>string</td>
    <td>
      The location of the MySQL instance. After being set, this cannot be updated. <br>
      For available locations, see the
      <a href="https://azure.microsoft.com/en-gb/global-infrastructure/data-residency/#select-geography">Microsoft documentation</a>.
    </td>
    <td><code>westus</code></td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>azure_tenant_id</code></td>
    <td>string</td>
    <td>The ID of the Azure tenant for the instance.</td>
    <td>The value the operator entered for <strong>Tenant ID</strong> in <%= vars.ops_manager %></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_subscription_id</code></td>
    <td>string</td>
    <td>The ID of the Azure subscription for the instance.</td>
    <td>The value the operator entered for <strong>Subscription ID</strong> in <%= vars.ops_manager %></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_client_id</code></td>
    <td>string</td>
    <td>The ID of the Azure service principal to authenticate for service instance creation.</td>
    <td>The value the operator entered for <strong>Client ID</strong> in <%= vars.ops_manager %></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>azure_client_secret</code></td>
    <td>string</td>
    <td>The secret (password) for the Azure service principal to authenticate for service instance creation.</td>
    <td>The value the operator entered for <strong>Client Secret</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>skip_provider_registration</code></td>
    <td>boolean</td>
    <td>
      Set to <code>true</code> to skip automatic Azure provider registration.
      Set if the service principal being used does not have the rights to register providers.
    </td>
    <td><code>false</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>sku_name</code></td>
    <td>string</td>
    <td>
      The Azure stock-keeping unit (SKU). For more information about configuring this parameter, see
      <a href="#skus">SKUs</a> section. After being set, this cannot be updated.
    </td>
    <td><code>""</code></td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>backup_retention_days</code></td>
    <td>integer</td>
    <td>The number of backup retention days for the server. Supported values are between <code>7</code> and <code>35</code> days.</td>
    <td><code>7</code></td>
    <td>provision and update</td>
  </tr>
</table>

### <a id="skus"></a> SKUs

Stock-keeping units (SKU) are usually formatted as `TIER_FAMILY_NUMBER-OF-CORES`. Where:

*   Examples of `TIER` are `GP_S`, `GP`, and `HS`
*   Examples of `FAMILY` are `Gen4` and `Gen5`

Example SKUs are `GP_S_Gen4_1` and `GP_Gen5_8`.

For information about the Azure MySQL pricing tiers, see the
[Microsoft documentation](https://docs.microsoft.com/en-us/azure/mysql/concepts-pricing-tiers).

If you do not define a SKU using the `sku_name` parameter, the SKU is
computed from the number of cores in your plan.
See [Plans](#plans) above.

When updating a service instance, the SKU for the updated
service instance must remain in the same tier (`GP_S`, `GP`, or `HS`).
If you update to a different tier, Azure refuses the update request.

## <a id="binding-creds"></a> Binding Credentials

You can bind a service to an app by running:

```bash
cf bind-service APP-NAME SERVICE-INSTANCE --binding-name BINDING-NAME
```

The format for binding credentials made available to the app is as follows:

```json
{
    "name" : "DATABASE-NAME",
    "hostname" : "DATABASE-SERVER-HOST",
    "port" : "DATABASE-SERVER-PORT",
    "username" : "AUTHENTICATION-USERNAME",
    "password" : "AUTHENTICATION-PASSWORD",
    "uri" : "DATABASE-CONNECTION-URI",
    "jdbcUrl" : "JDBC-FORMAT-CONNECTION-URI",
    "use_tls": true
}
```

Where:

- `DATABASE-NAME` is the database name.
- `DATABASE-SERVER-HOST` is the database server host name.
- `PORT` is the database server port.
- `AUTHENTICATION-USERNAME` is the username to authenticate to the database instance.
- `AUTHENTICATION-PASSWORD` is the password to authenticate to the database instance.
- `DATABASE-CONNECTION-URI` is the URI to connect to the database instance and database.
- `JDBC-FORMAT-CONNECTION-URI` is the Java Database Connectivity (JDBC) URL to connect to the database instance and database.
